<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Reset Password</title>
</head>
<body>
  <h1>Reset Password</h1>
  <p>Hello,</p>
  <p>You have requested to reset your password. Here is your temporary password:</p>
  <p><strong>{{tempPassword}}</strong></p>
  <p>This temporary password will expire in 5 minutes.</p>
  <p>Please click the link below to change your password:</p>
  <p><a href="{{frontendUrl}}/auth/change-password?token={{tempPassword}}">Change Password</a></p>
  <p>If you did not request this, please ignore this email.</p>
  <p>Best regards,<br>Your App Team</p>
</body>
</html> 